.use {
    background-color: #0095C6;
    height: 50px;
    padding-left: 25px;
    color: white;

}
.use h1 {
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
}

/*enable and disable*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  table, td, th {
    border-bottom: 1px solid black;
    


  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

   .table tr {
      text-align: center;
      border: 1px solid #080707;
      padding: 8px;
      background-color: rgb(255, 255, 255);
      border-left: none;
  }

