.outer {
  border: 2px;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  height: 390px;
  width: 500px;
  border-radius: 6px;
  text-align: center;
  margin: auto;
}
.heading {
  color: #0cabe0;
  text-align: center;
}
.admin {
  position: relative;
  top: 30px;
  font-style: normal;
  font-weight: 400;
}

.username {
  position: relative;
  left: 60px;
  top: 50px;
  width: 365px;
  height: 45px;
  display: flex;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  background-color: rgb(248, 255, 239);
}
.username img {
  position: absolute;
  top: 8px;
}
.un input {
  position: absolute;
  left: 25px;
  border: none;
  outline: none;
}

.password {
  position: relative;
  width: 365px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  background-color: rgb(248, 255, 239);
}

.password img {
  position: absolute;
  top: 8px;
}
.password input {
  position: absolute;
  left: 25px;
  border: none;
  outline: none;
}

.forget {
  color: #0095c6;
  font: 8px;
  position: relative;
  top: 65px;
  right: 120px;
}
.Login {
  position: relative;
  top: 100px;
  height: 45px;
  width: 220px;
  color: white;
  background-color: #0095c6;
  border-radius: 6px;
  font-size: 15px;
  border: none;
}
