
.head {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  
}
.heading3 {
  background-image: linear-gradient(to left, #00DDC5 0%, #00B1E9 30%, #0095C6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

.bellimg {
  margin-top: 20px;
}

