.dashboard {
    min-height: 100vh;
    display: flex;
    
}

.flex1{
    color: #969696;
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    
}

.flex2 {
    width: 85%;
    height: 100%;
    background-color: #e5e5e5;
    padding-left: 25px;
    
}